{% extends "layouts/base.withheader.html" %}

{% block head_styles %}
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"> -->
{% endblock %}

{% block head_scripts %}
<script src="https://cdn.plot.ly/plotly-2.20.0.min.js"></script>
{% endblock %}

{% block title %}Interpolate Emission Data{% endblock %}

{% block main %}
<div class="card mt-4">
    <div class="card-body">
        <h3 class="card-title text-center mb-3">Submit Medium Details</h3>
        <hr class="mx-auto col-md-3" />
        <div class="card-text">
            <form method="post" class="needs-validation">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        {{ form.nH.label_tag }}
                        {{ form.nH }}
                        {% if form.nH.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.nH.errors.0 }}</small>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.temperature.label_tag }}
                        {{ form.temperature }}
                        {% if form.temperature.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.temperature.errors.0 }}</small>
                        {% endif %}
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col">
                        {{ form.metallicity.label_tag }}
                        {{ form.metallicity }}
                        {% if form.metallicity.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.metallicity.errors.0 }}</small>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.redshift.label_tag }}
                        {{ form.redshift }}
                        {% if form.redshift.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.redshift.errors.0 }}</small>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        {{ form.mode.label_tag }}
                        {{ form.mode }}
                        {% if form.mode.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.mode.errors.0 }}</small>
                        {% endif %}
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col">
                        <div class="alert alert-info" role="alert">
                            <em>Scientific notation in the numeric fields are supported.</em>
                        </div>
                    </div>
                </div>

                <div class="card-link mt-3">
                    <div class="d-grid gap-3 col-3 mx-auto">
                        <button type="submit" class="btn card-link btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



{% if interpolation %}
<div id="emission-plot"></div>
<div class="text-center mb-3">
    <a class="btn btn-primary" href="{% url 'feedback:submit' %}" role="button">Submit Feedback</a>
</div>
{% endif %}
{% endblock %}



{% block body_scripts %}
<script>
    let emissionData = {{ interpolation| safe }}
    let plot = Plotly.newPlot('emission-plot', emissionData, { dislayModeBar: true });
</script>
{% endblock %}