{% extends "layouts/base.html" %}

{% block title %}
Ionization Data Download
{% endblock %}

{% block main %}
<div class="card mt-4">
    <div class="card-body">
        <h3 class="card-title">Submit Medium Details</h3>
        <div class="card-text">
            <form method="post" class="needs-validation">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        {{ form.nh.label_tag }}
                        {{ form.nh }}
                    </div>
                    <div class="col">
                        {{ form.temperature.label_tag }}
                        {{ form.temperature }}
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col">
                        {{ form.metallicity.label_tag }}
                        {{ form.metallicity }}
                    </div>
                    <div class="col">
                        {{ form.redshift.label_tag }}
                        {{ form.redshift }}
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col">
                        <div class="alert alert-info" role="alert">
                            <em>Scientific notation in the numeric fields are supported.</em>
                        </div>
                    </div>
                </div>

                <div class="card-link mt-3">
                    <div class="d-grid gap-3 col-3 mx-auto">
                        <button type="submit" class="btn card-link btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{%if batches%}
<div class="mt-3 mr-6">
    <h3>Batch files to download</h3>
    <ol class="list-group list-group-numbered">
        {%for id, file in batches.items%}
        <li class="list-group-item">
            <a href="{%url 'ionization:download' batch_id=id %}">{{file}}</a>
        </li>
        {%endfor%}
    </ol>
</div>
{%endif%}
{% endblock %}