{% extends "layouts/base.html" %}

{% block title %}
Interpolate Ionization Information
{% endblock %}

{% block main %}
<div class="card mt-4">
    <div class="card-body">
        <h3 class="card-title">Submit Medium Details</h3>
        <div class="card-text">
            <form method="post" class="needs-validation">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        {{ form.element.label_tag }}
                        {{ form.element }}
                    </div>
                    <div class="col">
                        {{ form.ion.label_tag }}
                        {{ form.ion }}
                        {% if form.ion.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{form.ion.errors.0}}</small>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        {{ form.nh.label_tag }}
                        {{ form.nh }}
                    </div>
                    <div class="col">
                        {{ form.temperature.label_tag }}
                        {{ form.temperature }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        {{ form.metallicity.label_tag }}
                        {{ form.metallicity }}
                    </div>
                    <div class="col">
                        {{ form.redshift.label_tag }}
                        {{ form.redshift }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        {{ form.mode.label_tag }}
                        {{ form.mode }}
                    </div>
                    <div class="col">
                        {{ form.part_type.label_tag }}
                        {{ form.part_type }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <div class="alert alert-info" role="alert">
                            <em>Scientific notation in the numeric fields are supported.</em>
                        </div>
                    </div>
                </div>

                <div class="card-link mt-3">
                    <div class="d-grid gap-3 col-3 mx-auto">
                        <button type="submit" class="btn card-link btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{%if interpolation %}
<h2 class="mt-3">Interpolation Output</h2>
<p><strong>Ion Fraction: </strong> {{ interpolation.ion_frac }}</p>
<p><strong>Mean Mass (µ): </strong> {{ interpolation.mu_mass }}</p>
<p><strong>Number Density: </strong> {{ interpolation.number_density }}</p>
{% endif %}
{% endblock %}