{% extends "layouts/base.html" %}

{% block title %}Interpolate Ionization Information{% endblock %}

{% block main %}
<div class="card mt-4">
    <h3 class="card-title text-center my-3">Submit Medium Details</h3>

    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item" id="calc_ion_frac">
            <a class="nav-link" href="?action=ion_frac">Calculate Ion Fraction</a>
        </li>
        <li class="nav-item" id="calc_mn_density">
            <a class="nav-link" href="?action=mass_density">Calculate Mean Mass and Number Density</a>
        </li>
    </ul>

    <div class="card-body">
        <div class="card-text">
            <form method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        {{ form.element.label_tag }}
                        {{ form.element }}
                        {% if form.element.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.element.errors.0 }}</small>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.ion.label_tag }}
                        {{ form.ion }}
                        {% if form.ion.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.ion.errors.0 }}</small>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        {{ form.nH.label_tag }}
                        {{ form.nH }}
                        {% if form.nH.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.nH.errors.0 }}</small>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.temperature.label_tag }}
                        {{ form.temperature }}
                        {% if form.temperature.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.temperature.errors.0 }}</small>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        {{ form.metallicity.label_tag }}
                        {{ form.metallicity }}
                        {% if form.metallicity.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.metallicity.errors.0 }}</small>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.redshift.label_tag }}
                        {{ form.redshift }}
                        {% if form.redshift.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.redshift.errors.0 }}</small>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        {{ form.mode.label_tag }}
                        {{ form.mode }}
                        {% if form.mode.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.mode.errors.0 }}</small>
                        {% endif %}
                    </div>
                    {% if form.species_type %}
                    <div class="col">
                        {{ form.species_type.label_tag }}
                        {{ form.species_type }}
                        {% if form.species_type.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.species_type.errors.0 }}</small>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>

                <div class="card-link mt-3">
                    <div class="d-grid gap-3 col-3 mx-auto">
                        <button type="submit" class="btn card-link btn-primary">Submit</button>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <div class="alert alert-info" role="alert">
                            <em><strong>Note: </strong> Scientific notation in the numeric fields are supported.</em>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{%if interpolation %}
<h2 class="mt-3 text-center">Interpolation Output</h2>
<table id="result" class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Property</th>
            <th class="text-center">Value</th>
        </tr>
    </thead>

    <tbody>
        {% if action == 'ion_frac' %}
        <tr>
            <td>Ion Fraction ({{interpolation.ionized_symbol|safe}})</td>
            <td>{{ interpolation.ion_frac }}</td>
        </tr>
        {% elif action == 'mass_density' %}
        <tr>
            <td>Mean Mass ({{interpolation.mean_mass_symbol|safe}})</td>
            <td>{{ interpolation.mean_mass }}</td>
        </tr>
        <tr>
            <td>Number Density ({{interpolation.number_density_symbol|safe}})</td>
            <td>{{ interpolation.number_density }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="{% url 'feedback:submit' %}" role="button">Submit Feedback</a>
</div>

{% endif %}

{% endblock %}

{% block body_scripts %}
<script>
    window.addEventListener("DOMContentLoaded", () => {
        const qp = new URLSearchParams(window.location.search)
        const action = qp.get("action")
        // const activeForm = $("#active-form").text().trim().replace(/^"|"$/g, "") || "ion_frac_form"
        switch (action) {
            case "ion_frac":
                $("#calc_ion_frac").children("a").addClass("active")
                break;
            case "mass_density":
                $("#calc_mn_density").children("a").addClass("active")
                break;
        }
    });
</script>
{% endblock %}
