{% extends "layouts/base.html" %}

{% block title %}Interpolate Ionization Information{% endblock %}

{% block main %}
<div class="card mt-4">
    <div class="card-body">
        <h3 class="card-title text-center mb-3">Submit Medium Details</h3>
        <hr class="mx-auto col-md-3" />
        <div class="card-text">
            <form method="post" class="needs-validation">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        {{ form.element.label_tag }}
                        {{ form.element }}
                        {% if form.element.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.element.errors.0 }}</small>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.ion.label_tag }}
                        {{ form.ion }}
                        {% if form.ion.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.ion.errors.0 }}</small>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        {{ form.nh.label_tag }}
                        {{ form.nh }}
                        {% if form.nh.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.nh.errors.0 }}</small>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.temperature.label_tag }}
                        {{ form.temperature }}
                        {% if form.temperature.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.temperature.errors.0 }}</small>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        {{ form.metallicity.label_tag }}
                        {{ form.metallicity }}
                        {% if form.metallicity.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.metallicity.errors.0 }}</small>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.redshift.label_tag }}
                        {{ form.redshift }}
                        {% if form.redshift.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.redshift.errors.0 }}</small>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        {{ form.mode.label_tag }}
                        {{ form.mode }}
                        {% if form.mode.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.mode.errors.0 }}</small>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.species_type.label_tag }}
                        {{ form.species_type }}
                        {% if form.species_type.errors %}
                        <small class="text-danger"><strong>Error: </strong>{{ form.species_type.errors.0 }}</small>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <div class="alert alert-info" role="alert">
                            <em><strong>Note: </strong> Scientific notation in the numeric fields are supported.</em>
                        </div>
                    </div>
                </div>

                <div class="card-link mt-3">
                    <div class="d-grid gap-3 col-3 mx-auto">
                        <button type="submit" class="btn card-link btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{%if interpolation %}
<h2 class="mt-3 text-center">Interpolation Output</h2>
<table id="result" class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Property</th>
            <th class="text-center">Value</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Ion Fraction</td>
            <td>{{ interpolation.ion_frac }}</td>
        </tr>
        <tr>
            <td>Mean Mass (µ)</td>
            <td>{{ interpolation.mu_mass }}</td>
        </tr>
        <tr>
            <td>Number Density</td>
            <td>{{ interpolation.number_density }}</td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="{% url 'feedback:submit' %}" role="button">Submit Feedback</a>
</div>

{% endif %}
{% endblock %}
