{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose your task</title>
    <link href="{% static 'css/main.min.css' %}" rel="stylesheet" />
</head>

<body>
    <main class="homepage">
        <div class="main-info-card">
            <div class="mx-auto max-w-md">
                <h1>Cloudy Interpolater</h1>
                <p>Quickly interpolate physical state of astrophysical plasma without detailed Plasma modelling.</p>
                <div class="divide-y divide-gray-300/50">
                    <div class="nav-list">
                        <p class="nav-qs">What do you want to do?</p>
                        <ul>
                            <li>
                                <a href="{% url 'emission:interpolation' %}">
                                    <svg class="h-6 w-6 " xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242"></path>
                                        <path d="M8 19v1"></path>
                                        <path d="M8 14v1"></path>
                                        <path d="M16 19v1"></path>
                                        <path d="M16 14v1"></path>
                                        <path d="M12 21v1"></path>
                                        <path d="M12 16v1"></path>
                                    </svg>
                                    <p class="ml-4">Interpolate Emission Data</p>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'ionization:interpolation' %}">
                                    <svg class="h-5 w-5 " xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M6 3v12"></path>
                                        <path d="M18 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                        <path d="M6 21a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                        <path d="M15 6a9 9 0 0 0-9 9"></path>
                                        <path d="M18 15v6"></path>
                                        <path d="M21 18h-6"></path>
                                    </svg>
                                    <p class="ml-4">Interpolate Ionization Data</p>
                                </a>
                            </li>
                        </ul>
                        <!-- <p>Some more info here if something needs an explaination of some sort :P</p> -->
                    </div>
                    <div class="more-info">
                        <p>Want to contribute?</p>
                        <p>
                            <a href="https://github.com/tbhaxor/CloudyPlasmaServer" target="_blank"
                                class="text-sky-500 hover:text-sky-600">Fork on Github &rarr;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'js/jquery.js' %}"></script>
</body>

</html>