{% extends "layouts/base.withheader.html" %}

{% block title %} Submit Feedback {% endblock %}

{% block main %}
<h3 class="sec-title mb-5">Feedback Form</h3>
<form method="post">
    {% csrf_token %}
    <div class="form-grid form-grid-two-col">
        <div class="form-item">
            {{ form.name.label_tag }}
            {{ form.name }}
            {% if form.name.errors %}
            <p class="error-msg"><b>Error: </b>{{ form.name.errors.0 }}</p>
            {% else %}
            <p class="info-msg"><b>Note: </b>{{ form.name.help_text }}</p>
            {% endif %}
        </div>

        <div class="form-item">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
            <p class="error-msg" id="email-error"><b>Error: </b>{{ form.email.errors.0 }}</p>
            {% else %}
            <p class="info-msg"><b>Note: </b>{{ form.email.help_text }}</p>
            {% endif %}
        </div>

        <div class="form-item col-span-full">
            {{ form.message.label_tag }}
            {{ form.message }}
            {% if form.message.errors %}
            <p class="error-msg" id="email-error"><b>Error: </b>{{ form.message.errors.0 }}</p>
            {% endif %}
        </div>
    </div>

    <div class="mt-6 flex items-streach justify-center gap-x-6">
        <button type="submit" class="btn-filled">Submit</button>
    </div>

</form>

{% endblock %}